.endspace {
	margin-bottom: 10px;
}
#Leftnavlist {
	z-index:1;
	position: absolute;
	list-style-type: none;
	left: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	font-weight: normal;
	color: #000000;
	background-color: #c2c6cb;	
	line-height: 140%;
	width: 100%;
}
#Leftnavlist ul {
	list-style: none;
	margin: 0;
	padding-top: 4%;
	padding-right: 4%;
	padding-bottom: 4%;
	padding-left: 4%;
}

#Leftnavlist li {
margin: 0;
}

#Leftnavlist li a {
	display: block;
	background-color:#c2c6cb;
	width: 100%;
	text-decoration: none;
	color: #000000;
}
#Leftnavlist li a:hover {
	 background-color:#858e98;
}

#navlist ul {
	margin:0;
	padding:0;
	list-style-type: none;	
	display:block;
}
#navlist a {
	display:block;
	background-color:#bbc6d2;
	color: #000000;
	text-decoration: none;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 2%;
	padding-right:6%;		
	width: 92%;
		
}
#navlist a:hover {
	background-color: #778da6;	
	color: #000000;
	margin:0;	
}
#navlist li li a {
	display: block;
	background-color:#bbc6d2;
	color: #000000;
	text-decoration: none;
	padding-top: 1%;
	padding-bottom:1%;
	padding-left: 5%;
	padding-right:4%;
	width: 92%;
}
#navlist li li li a {
	display: block;
	background-color:#bbc6d2;
	color: #000000;
	text-decoration: none;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 9%;
	padding-right: 1%;
	width: 92%;
}
#navlist li li li li a {
	display: block;
	background-color:#bbc6d2;
	color: #000000;
	text-decoration: none;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 13%;
	padding-right: 2%;
	width: 90%;
}
.bottomnav {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 75%;
	color: #000000;
	text-decoration: none;
}
#navlist li li li li li a {
	display: block;
	background-color:#bbc6d2;
	color: #000000;
	text-decoration: none;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 15%;
	padding-right: 2%;
	width: 91%;
}
.bottomnav a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	font-size: 75%;
}
.bottomnav a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	font-size: 75%;
}
.newsheading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.news {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
.topnav {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;	
	color: #FFFFFF;
	text-decoration: none;
}
.topnav a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 80%;
}
.h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 140%;
	font-weight: normal;
	color: #4C5C6C;
}
.h2 {
	font-family: "Times New Roman", Times, serif;
	font-size: 130%;
	font-weight: bold;
	color: #000000;
}

h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 140%;
	font-weight: normal;
	color: #4C5C6C;
}

h2 {
	font-family: "Times New Roman", Times, serif;
	font-size: 130%;
	font-weight: bold;
	color: #000000;
}

h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: bold;
	color: #000000;
}

.h1acc {
font-family:"Times New Roman", Times, serif;
font-size:140%;
font-weight:normal;
color:#000000;
}

.h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: bold;
	color: #000000;
}
.content {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	background-color: #FFFFFF;
	margin: 0px;
	color: #000000;
}
.content a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: underline;
	background-color: #FFFFFF;
}
.content a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #384959;
	text-decoration: underline;
	background-color: #FFFFFF;
}
.topnav a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 80%;
}

#header {
	position:absolute;
	width:99%;
	height:24px;
	z-index:1;
	background-color: #000000;
	top: 0;
	left: 0;
	color: #FFFFFF;
	font-size: 80%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-left: 1%;
	margin-left: 2px;
}
#body {
	position:absolute;
	width:100%;
	z-index:2;
}
#linetop {
	position:absolute;
	width:100%;
	height:2px;
	z-index:2;
	top: 24px;
	background-color: #c2c6cb;
	left: 0px;
	margin-left: 2px;
}
#linetoplower {
	position:absolute;
	width:100%;
	height:2px;
	background-color: #304963;
	left: 0px;
	margin-left:2px;
}
#lefttop {
	position:absolute;
	width:150px;
	height:52px;
	z-index:1;
	top: 26px;
	left: 0;
	background-color: #5c7c9c;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-left: 2px;
}
#midtop {
	position:absolute;
	width:594px;
	height:52px;
	z-index:1;
	left: 150px;
	top: 26px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	background-color: #304963;
}
#righttop {
	width:100%;
	height:78px;
	background-color: #5c7c9c;
	margin-bottom: 2px;
	margin-left: 2px;
}
#leftmenu {
	position:absolute;
	width:150px;
	height:207px;
	z-index:5;
	top: 74px;
	color: #000000;
	background-color: #bbc6d2;
	padding-top: 4px;
	margin-top: 2px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 2px;
	left: 0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:80%;
}
#sidebar {
	position: absolute;
	left: 0px;
	width: 20%;
	font-size: 80%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #Bbc6d2;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
	z-index: 1;	
}
#sidebar1 {
	position: absolute;
	left: 0px;
	width: 140px;
	height: 309px;
	font-size: 80%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #bbc6d2;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom:5px;
	color:#000000;
	top:78px;
	margin-top: 2px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 2px;
	vertical-align:middle;
}
#mainimage {
	position:absolute;
	width:590px;
	height:319px;
	z-index:6;
	top: 78px;
	left: 152px;
	background-color: #556f88;
	margin: 2px;
	padding: 0px;
}
#rightmid {
	position:absolute;
	width:25.25%;
	height:319px;
	z-index:7;
	top: 71px;
	float: left;
	clear: right;
}
#rightmiddle {
	width: 100%;
	height: 321px;
	background-color: #304963;
}
#leftmid {
	position:absolute;
	width:150px;
	height:99px;
	z-index:8;
	left: 0;
	top: 296px;
	background-color: #626e7a;
	margin-bottom: 2px;
	margin-left: 2px;
}
#leftbottom {
	position:absolute;
	width:150px;
	height:135px;
	z-index:9;
	left: 0;
	top: 399px;
	background-color: #5c7c9c;
	margin-top: 2px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 2px;
}
#leftline {
	position: absolute;
	width: 4px;
	left: 150px;
	top: 399px;
	height: 138px;
	background-color: #304963;
	z-index:1;
}	
#newshead {
	position:absolute;
	width:590px;
	height:135px;
	z-index:10;
	left: 154px;
	top: 399px;
	background-color: #778da6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	color: #FFFFFF;
	font-weight: bold;
	margin-top: 2px;	
}
#rightline {
	position: absolute;
	width: 2px;
	left: 744px;
	top: 399px;
	height: 138px;
	background-color: #304963;
	z-index:1;
}
#rightbottom {
	width:100%;
	height:135px;
	z-index:11;
	background-color: #5c7c9c;
	margin-left: 2px;	
}
#newstext {
	position:absolute;
	width:295px;
	z-index:12;
	left: 154px;
	top: 419px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-style: normal;	
	color: #000000;
	padding-left: 2px;
	padding-right: 2px;
}
.newstext {
text-decoration:underline;
}
a.newstext {
text-decoration:underline;
color:#000000;
}
a.newstext:visited {
text-decoration:underline;
color: #000000;

}
a.newstext:hover {
text-decoration:underline;
color: #000000;

}
#newsheading {
	position:absolute;
	width:291px;
	z-index:13;
	left: 154px;
	top: 403px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 75%;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 2px;
	padding-top: 1px;
	padding-right: 2px;
}
#eventheading {
	position:absolute;
	width:291px;
	height:0;
	z-index:14;
	left: 449px;
	top: 404px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 75%;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 2px;
	padding-top: 1px;
	padding-right: 2px;
}
#eventtext {
	position:absolute;
	width:291px;
	height:0;
	z-index:15;
	left: 449px;
	top: 419px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	color: #000000;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
}
#headerpg {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	color: #ffffff;
	text-decoration: none;
	background-color: #000000;
	height: 24px;
	width: 99%;
	position: relative;
	top: 0px;
	padding-left: 1%;
}
#linetoppg {
	background-color: #bbc6d2;
	height: 2px;
	width: 100%;
	position: relative;
	margin-left: 2px;
}
#banner {
	width: 100%;
	position: relative;
	background-color: #4d6b8e;
	left: 0px;
}
#leftmenupg {
	color: #000000;
	background-color: #bbc6d2;
	width: 22%;
	height: 100%;
	position: absolute;
	left: 0px;
	font-size:80%;	
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
#leftmenupgtest {
	color: #000000;
	background-color: #c2c6cb;
	width: 20.25%;
	height: 100%;
	position: absolute;
	left: 0px;
	font-size:80%;	
}
#headerholder {
	height: 24px;
	width: 100%;
	position: relative;
	margin-left: 2px;
}

#content {
	position:relative;
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	color: #000000;
	/*width: 76%;  SH*/
        width: 100%;
	height:auto;
	/*left: 22%;  SH*/
	margin-left: 2px;
	padding-top: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
	z-index: 1;
}
#footer {
	position: relative;
	width: 100%;
	background-color: #c2c6cb;
	margin-top: 2px;
	margin-left: 2px;
	padding-bottom: 5px;
	padding-left: 5px;
}

#linetopholder {
	position: relative;
	height: 2px;
	width: 100%;
	left: 0px;
	display: inline;
	margin-left: 2px;
}

#contentholder {
	width: 100%;
	height: 100%;
	position: relative;
	margin-top: 2px;
	background-color: #4d6b8e;
	margin-left: 2px;
	z-index: 3;
}
#bannerspacer {
	margin-left: 2px;
	position: relative;
	float: left;
	overflow: hidden;
}
#bannerholder {
	position: relative;
	width: 100%;
	margin-left: 2px;
}
.midnav {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 75%;
	font-weight: bold;
	color: #4c5c6c;
	text-decoration: none;
}
a.midnav:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #4c5c6c;
	text-decoration: underline;
}
a.midnav:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4c5c6c;
	text-decoration: underline;
}		
.menu_primary {
	font-size: 100%;
	text-decoration: none;
	background-color: #858e98;
	width: 100%;
}
.printlink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight:normal;
	color: #000000;
	text-decoration: none;
}
a.printlink:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
}
a.printlink:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4c5c6c;
	text-decoration: underline;
}	
.appcontent {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	color: #000000;
	background-color: #FFFFFF;
	margin: 0px;
}
.appcontent a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
.appcontent a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
.gallery {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #000000;
	margin: 0px;
}
.gallery a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
.gallery a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
.h2 a:link {font-family:"Times New Roman", Times, serif;
color: #000000;
text-decoration:underline;
background-color: #FFFFFF;
}
.h2 a:visited {font-family:"Times New Roman", Times, serif;
text-decoration:underline;
color: #384959;
background-color: #FFFFFF;
}
a.h2:link {font-family:"Times New Roman", Times, serif;
color: #000000;
text-decoration:underline;
background-color: #FFFFFF;
}
a.h2:visited {font-family:"Times New Roman", Times, serif;
text-decoration:underline;
color: #384959;
background-color: #FFFFFF;
}
html {height: 100%;}

body {
	margin: 0;
	background-color: #4d6b8e;
	}
.topnavlist { left: 110px;
position: relative; top: 3px;
}
.logo {
	position:absolute;
	width: 95px;
	height:20px;
	margin-top:2px;
	margin-bottom:2px;
}
.footer {
	position:relative;
	/*left:22%;  SH*/
	padding:1%;
	/*width:76%;  SH*/
        width:100%;
	background-color: #bbc6d2;
	margin-top:2px;
	text-align:center;
	height: auto;
	margin-left:2px;
}
.footer a:link {color:#000000;
}
.footer a:hover {color:#000000;
}
.footer a:visited {color:#384959;
}
#navlist {padding-right:12px;
}
/* SH added 4/4/13 to clean up IE9 table format */
.graygrid{
  FONT-FAMILY: Arial, Helvetica, sans-serif;
  border-color:rgb(128,128,128); 
  border:1.0pt ;
  border-style:solid; 
  border-width:thin;
  border-collapse:collapse;
  padding:2.0pt ;
}
