<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
 <filter>
    <filter-name>struts2</filter-name>
    <filter-class>
        org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter
      </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.apache.tiles.extras.complete.CompleteAutoloadTilesListener</listener-class>
  </listener>  
  <servlet>
    <servlet-name>Tiles Dispatch Servlet</servlet-name>
    <servlet-class>org.apache.tiles.web.util.TilesDispatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tiles Dispatch Servlet</servlet-name>
    <url-pattern>*.tiles</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>SessionTimeoutFilter</filter-name>
    <filter-class>mypackage.SessionTimeoutFilter</filter-class>
  </filter>
  <filter>
    <filter-name>ResponseOverrideFilter</filter-name>
    <filter-class>org.displaytag.filter.ResponseOverrideFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionTimeoutFilter</filter-name>
    <url-pattern>/statutory/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ResponseOverrideFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ResponseOverrideFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>  
  <servlet>
    <servlet-name>LoginChecker</servlet-name>
    <servlet-class>mypackage.LoginChecker</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml,/WEB-INF/struts-config-literacy.xml,/WEB-INF/struts-config-disc.xml,/WEB-INF/struts-config-lgrmif.xml,/WEB-INF/struts-config-construction.xml,/WEB-INF/struts-config-stateaid.xml</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>mypackage.InitServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>crossDomainSessionSecurity</param-name>
      <param-value>false</param-value>
    </init-param>
  </servlet>
  
  
    
  <servlet>
    <servlet-name>convertjsp</servlet-name>
    <jsp-file>/statutory/saPrintViewPDF.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertform</servlet-name>
    <jsp-file>/fsform/fs20PDF.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertfs20long</servlet-name>
    <jsp-file>/fsform/fs10PdfLong.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertdifsf</servlet-name>
    <jsp-file>/discretionary/fs10fItemPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertdifs</servlet-name>
    <jsp-file>/discretionary/fs20ItemPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertfsform</servlet-name>
    <jsp-file>/statutory/fs10aPDF.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertconarr</servlet-name>
    <jsp-file>/coordinated/completeNarrativePDF.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertrevapp</servlet-name>
    <jsp-file>/reviewers/coord/reviewerAppPDF.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertrevrating</servlet-name>
    <jsp-file>/reviewers/coord/coRatingPDF.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convert10f</servlet-name>
    <jsp-file>/fsform/fs10fPDF.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convert10flong</servlet-name>
    <jsp-file>/fsform/fs10fLongPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertcoBudget</servlet-name>
    <jsp-file>/coordinated/completeBudgetPDF.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertcoCover</servlet-name>
    <jsp-file>/coordinated/completeCoverPDF.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertapcntcomm</servlet-name>
    <jsp-file>/coordinated/coViewCommentsPDF.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertdiinstauth</servlet-name>
    <jsp-file>/discretionary/diInstAuthPDF.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertdimicroform</servlet-name>
    <jsp-file>/discretionary/diMicroformPDF.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertdicoagree</servlet-name>
    <jsp-file>/discretionary/diCoopAgreementPDF.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertdifnsignoff</servlet-name>
    <jsp-file>/discretionary/diFinalSignoffPDF.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertdirating</servlet-name>
    <jsp-file>/reviewers/disc/diRatingPDF.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertdiratinged</servlet-name>
    <jsp-file>/reviewers/disc/diRatingEducPDF.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertdinarrative</servlet-name>
    <jsp-file>/diNarrativePdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertdicoversheet</servlet-name>
    <jsp-file>diCoversheetPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertdirevbudget</servlet-name>
    <jsp-file>/reviewers/disc/revBudgetDiPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertdibudget</servlet-name>
    <jsp-file>/discretionary/diViewBudgetPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertdiapcntrat</servlet-name>
    <jsp-file>/discretionary/diViewRatingComPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertbcert</servlet-name>
    <jsp-file>/fmliteracy/boardCertificationPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertflauth</servlet-name>
    <jsp-file>/fmliteracy/liAuthorizationPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertflfinal</servlet-name>
    <jsp-file>/fmliteracy/liFinalAuthPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertlicov</servlet-name>
    <jsp-file>/fmliteracy/liCoversheetPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertlibud</servlet-name>
    <jsp-file>/fmliteracy/liBudgetPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertlinar</servlet-name>
    <jsp-file>/fmliteracy/liNarrativePdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertlirate</servlet-name>
    <jsp-file>/reviewers/literacy/liRatingPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertlgauth</servlet-name>
    <jsp-file>/lgrmif/instauthPDF.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertlgfinal</servlet-name>
    <jsp-file>/lgrmif/finalsignoffPDF.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertlgcoop</servlet-name>
    <jsp-file>/lgrmif/coopagreementPDF.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertfs25</servlet-name>
    <jsp-file>/fsform/fs25PDF.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertlgnarr</servlet-name>
    <jsp-file>/lgrmif/lgNarrativesPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertlgbudget</servlet-name>
    <jsp-file>/lgrmif/lgBudgetPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertlgcover</servlet-name>
    <jsp-file>/lgrmif/lgCoversheetPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertlgrating</servlet-name>
    <jsp-file>/reviewers/lgrmif/homeRatingPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertcoeducrat</servlet-name>
    <jsp-file>/reviewers/coord/coEducRatingPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertlgvq</servlet-name>
    <jsp-file>/lgrmif/vqPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertlgim</servlet-name>
    <jsp-file>/lgrmif/imPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertfs10appr</servlet-name>
    <jsp-file>/fsform/fs10ApproveAmtsPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertlitfinnar</servlet-name>
    <jsp-file>/fmliteracy/liInterimNarrPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertcnnarr</servlet-name>
    <jsp-file>/construction/cnNarrativesPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertcnbudget</servlet-name>
    <jsp-file>/construction/cnBudgetPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertcncoversheet</servlet-name>
    <jsp-file>/construction/cnApplicationPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertcnevalform</servlet-name>
    <jsp-file>/construction/evaluationFormPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertcnotherfund</servlet-name>
    <jsp-file>/construction/otherFundsPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertfs20statutory</servlet-name>
    <jsp-file>/fsform/fs20StateaidPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertcncompletion</servlet-name>
    <jsp-file>/construction/completionPDF.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertcnfinalfs</servlet-name>
    <jsp-file>/fsform/cnFs10fLongPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertcnexpenses</servlet-name>
    <jsp-file>/construction/cnExpensesPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertlitfs20</servlet-name>
    <jsp-file>/fsform/fs20LiteracyPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertcnfs10</servlet-name>
    <jsp-file>/fsform/cnFs10Pdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertdifsappr</servlet-name>
    <jsp-file>/fsform/fs10PdfApprove.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertfsfrontback</servlet-name>
    <jsp-file>/fsform/fs10FrontBackPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>convertstaid</servlet-name>
    <jsp-file>/stateaid/printViewPdf.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>coordinated.DownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ApcntFunctionsServlet</servlet-name>
    <servlet-class>statutory.ApcntFunctionsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuthorizationsServlet</servlet-name>
    <servlet-class>mypackage.AuthorizationsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminEmailServlet</servlet-name>
    <servlet-class>mypackage.AdminEmailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteItemServlet</servlet-name>
    <servlet-class>mypackage.DeleteItemServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateCpExpenses</servlet-name>
    <servlet-class>coordinated.UpdateCpExpenses</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MassMailServlet</servlet-name>
    <servlet-class>mypackage.MassMailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddBudgetItem</servlet-name>
    <servlet-class>statutory.AddBudgetItem</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BudgetSelect</servlet-name>
    <servlet-class>coordinated.BudgetSelect</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateCpBudget</servlet-name>
    <servlet-class>coordinated.UpdateCpBudget</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DiFsFormServlet</servlet-name>
    <servlet-class>discretionary.DiFsFormServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DiPublicReport</servlet-name>
    <servlet-class>ldgext.DiPublicReport</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminBudgetSelect</servlet-name>
    <servlet-class>coordinated.AdminBudgetSelect</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FsFormServlet</servlet-name>
    <servlet-class>statutory.FsFormServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PrintAppServlet</servlet-name>
    <servlet-class>statutory.PrintAppServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WriteFileServlet</servlet-name>
    <servlet-class>
      coordinated.WriteFileServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertjsp</servlet-name>
    <url-pattern>/grantApplication.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertform</servlet-name>
    <url-pattern>/fs20Form.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertfs20long</servlet-name>
    <url-pattern>/fs20LongForm.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertdifs</servlet-name>
    <url-pattern>/fs20ItemForm.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertdifsf</servlet-name>
    <url-pattern>/fs10fItemForm.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertfsform</servlet-name>
    <url-pattern>/fs10aForm.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertconarr</servlet-name>
    <url-pattern>/coordinatedNarratives.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertrevapp</servlet-name>
    <url-pattern>/coordinatedProposal.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertrevrating</servlet-name>
    <url-pattern>/reviewerRating.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convert10f</servlet-name>
    <url-pattern>/FS10Fform.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convert10flong</servlet-name>
    <url-pattern>/Fs10FLong.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertcoBudget</servlet-name>
    <url-pattern>/coordinatedBudget.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertcoCover</servlet-name>
    <url-pattern>/coordinatedCoversheet.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertapcntcomm</servlet-name>
    <url-pattern>/RatingsComments.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertdiinstauth</servlet-name>
    <url-pattern>/diInstAuth.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertdimicroform</servlet-name>
    <url-pattern>/diMicroform.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertdicoagree</servlet-name>
    <url-pattern>/diCoopAgreement.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertdifnsignoff</servlet-name>
    <url-pattern>/diFinalSignoff.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertdirating</servlet-name>
    <url-pattern>/diReviewerRating.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertdiratinged</servlet-name>
    <url-pattern>/diRevEdRating.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertdinarrative</servlet-name>
    <url-pattern>/diNarratives.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertdicoversheet</servlet-name>
    <url-pattern>/diCoversheet.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertdirevbudget</servlet-name>
    <url-pattern>/diReviewerBudget.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertdibudget</servlet-name>
    <url-pattern>/diBudget.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertdiapcntrat</servlet-name>
    <url-pattern>/diApcntRating.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertbcert</servlet-name>
    <url-pattern>/boardCertification.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertflauth</servlet-name>
    <url-pattern>/directorAuthorization.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertflfinal</servlet-name>
    <url-pattern>/directorFinalAuth.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertlicov</servlet-name>
    <url-pattern>/liCoversheet.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertlibud</servlet-name>
    <url-pattern>/liBudget.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertlinar</servlet-name>
    <url-pattern>/liNarrative.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertlirate</servlet-name>
    <url-pattern>/liReviewerRating.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertlgauth</servlet-name>
    <url-pattern>/lgAuthorization.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertlgfinal</servlet-name>
    <url-pattern>/lgFinalSignoff.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertlgcoop</servlet-name>
    <url-pattern>/lgCoopAgreement.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertfs25</servlet-name>
    <url-pattern>/fs25Form.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertlgnarr</servlet-name>
    <url-pattern>/lgNarratives.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertlgbudget</servlet-name>
    <url-pattern>/lgBudget.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertlgcover</servlet-name>
    <url-pattern>/lgCoversheet.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertlgrating</servlet-name>
    <url-pattern>/lgReviewerRating.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertcoeducrat</servlet-name>
    <url-pattern>/reviewerEducRating.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertlgvq</servlet-name>
    <url-pattern>/lgVqForm.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertlgim</servlet-name>
    <url-pattern>/lgImForm.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertfs10appr</servlet-name>
    <url-pattern>/Fs10ApprAmt.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertlitfinnar</servlet-name>
    <url-pattern>/liFinalNarr.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertcnnarr</servlet-name>
    <url-pattern>/cnNarratives.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertcnbudget</servlet-name>
    <url-pattern>/cnBudget.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertcncoversheet</servlet-name>
    <url-pattern>/cnApplicationForm.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertcnevalform</servlet-name>
    <url-pattern>/cnEvaluationForm.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertcnotherfund</servlet-name>
    <url-pattern>/cnAdditionalFunds.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertfs20statutory</servlet-name>
    <url-pattern>/fs20FormStateaid.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertcncompletion</servlet-name>
    <url-pattern>/cnCompletionForm.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertcnfinalfs</servlet-name>
    <url-pattern>/Fs10FLongConstruction.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertcnexpenses</servlet-name>
    <url-pattern>/cnExpenses.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertlitfs20</servlet-name>
    <url-pattern>/fs20FormLiteracy.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertcnfs10</servlet-name>
    <url-pattern>/fs10Construction.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertdifsappr</servlet-name>
    <url-pattern>/fs10CpApprove.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertfsfrontback</servlet-name>
    <url-pattern>/fs10FrontBack.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convertstaid</servlet-name>
    <url-pattern>/stateAidApplication.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginChecker</servlet-name>
    <url-pattern>/LoginChecker</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ApcntFunctionsServlet</servlet-name>
    <url-pattern>/ApcntFunctionsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthorizationsServlet</servlet-name>
    <url-pattern>/AuthorizationsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminEmailServlet</servlet-name>
    <url-pattern>/AdminEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteItemServlet</servlet-name>
    <url-pattern>/DeleteItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCpExpenses</servlet-name>
    <url-pattern>/UpdateCpExpenses</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MassMailServlet</servlet-name>
    <url-pattern>/MassMailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBudgetItem</servlet-name>
    <url-pattern>/AddBudgetItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BudgetSelect</servlet-name>
    <url-pattern>/BudgetSelect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCpBudget</servlet-name>
    <url-pattern>/UpdateCpBudget</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DiFsFormServlet</servlet-name>
    <url-pattern>/DiFsFormServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DiPublicReport</servlet-name>
    <url-pattern>/ldgext/DiPublicReport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminBudgetSelect</servlet-name>
    <url-pattern>/AdminBudgetSelect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FsFormServlet</servlet-name>
    <url-pattern>/FsFormServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrintAppServlet</servlet-name>
    <url-pattern>/PrintAppServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WriteFileServlet</servlet-name>
    <url-pattern>
      /writefileservlet
    </url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <mime-mapping>
    <extension>html</extension>
    <mime-type>text/html</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>txt</extension>
    <mime-type>text/plain</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>xls</extension>
    <mime-type>application/msexcel</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>doc</extension>
    <mime-type>application/msword</mime-type>
  </mime-mapping>
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>javax.servlet.jsp.JspException</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.NullPointerException</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>javax.servlet.ServletException</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.NumberFormatException</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <jsp-config>
    <taglib>
      <taglib-uri>http://xmlns.oracle.com/uix/ui</taglib-uri>
      <taglib-location>
        /WEB-INF/lib/uix2tags.jar
      </taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
      <taglib-location>
        /WEB-INF/struts-logic.tld
      </taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
      <taglib-location>
        /WEB-INF/struts-bean.tld
      </taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/struts-tiles.tld</taglib-uri>
      <taglib-location>
        /WEB-INF/struts-tiles.tld
      </taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/tlds/pd4ml.tld</taglib-uri>
      <taglib-location>
        /WEB-INF/tlds/pd4ml.tld
      </taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/pd4ml.tld</taglib-uri>
      <taglib-location>
        /WEB-INF/pd4ml.tld
      </taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
      <taglib-location>
        /WEB-INF/struts-html.tld
      </taglib-location>
    </taglib>
  </jsp-config>
  <resource-ref>
    <description>LDGrants datasource</description>
    <res-ref-name>jdbc/LDGrantsDS</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>